{% extends 'base.html.jinja' %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or post and post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post and post['body'] }}</textarea>
    <label for="tags">Tags</label>
    <input name="tags" id="tags" value="{{ request.form['tags'] or post and post['tags'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}
