{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}Read Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section class="post">
    <header>
      <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      {% endif %}
    </header>
    {{ post['body']|markdown }}
    {% if image_ext %}
      <p><img alt="Post image" src="{{ url_for('blog.get_image', id=post['id'], ext=image_ext) }}" /></p>
    {% endif %}
    <div class="details">
    {% if g.user %}
      <form class="reactions" action="{{ url_for('blog.like', id=post['id']) }}" method="post">
        <input type="submit" value="{{ reactions_block(reactions)|trim }}" />
      </form>
    {% else %}
      <div class="reactions">{{ reactions_block(reactions) }}</div>
    {% endif %}
    <div class="tags">{{ tags_block(tags) }}</div>
    </div>
    <section class="comments">
    {% if g.user %}
      <form action="{{ url_for('blog.comment', id=post['id']) }}" method="post">
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <input type="submit" value="Leave Comment">
      </form>
    {% endif %}
    <h3>{{ comments|length }} comments</h3>
    {% for comment in comments %}
      <article>
      <div>
      <p>{{ comment['body'] }}</p>
      <div class="about">by {{ comment['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == comment['author_id'] %}
        <form action="{{ url_for('blog.delete_comment', id=comment['id']) }}" method="post">
          <input class="danger" type="submit" value="×" onclick="return confirm('Are you sure?');" />
        </form>
      {% endif %}
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    </section>
  </section>
{% endblock %}
